<section class="contact-us container">
    <div class="location" style=" height: auto;">
        <!-- location -->
            <div class="location-1 "><i class="fa-solid fa-location-dot"></i> <br><span class="loxi">ایران-خراسان جنوبی-بیرجند</span></div>
            <div class="email-contact"><i class="fa-solid fa-envelope"></i><br><span class="loxi">tapsidemo@yahoo.com</span></div>
            <div class="mibail-contact"><i class="fa-solid fa-mobile-screen-button"></i><br><span class="loxi">356987122+52</span></div>
    </div>
<!-- map -->
<div class="plan-map" style=" height:auto;">
<img src="/assets/image/add_googlemap_on_website.jpg" alt="" class="map-lication">
</div>
<!-- icon -->
    <div class="address" style=" height: auto;">
        <div class="linkden fix-icpn"><i class="fa-brands fa-linkedin"></i></div>
        <div class="faceboock fix-icon"><i class="fa-brands fa-facebook"></i></div>
        <div class="tweeter fix-icon"><i class="fa-brands fa-twitter-square"></i></div>
        <div class="instagram fix-icon"><i class="fa-brands fa-instagram"></i></div>
    </div>
    <div class="form" style=" height: outo;">
        <h4 class="head-form" style="margin-top: 2rem;">نظرات شما</h4><br>
        <div class="name">
            <input type="text" id="name" placeholder=" نام و نام خانوادگی">
        </div>
        <div class="email">
            <input type="email" placeholder=" ایمیل خود را وارد کنید">
        </div>
        <div class="text-earea">
            <input type="text"  id="eare" placeholder=" ">
        </div>
        <button class="btn btn--primary btn-form">ثبت نظر</button>
    </div>
</section>