<section class="feature container ">
    <div class="feature-image" >
         <img src="/assets/image/i-mac 1.png" alt="image-futeare" class="image-feature">
    </div>
    <div class="feature-deatial" style=" height: auto;">
        <h2 class="feature-title">خدمات تپسی  برای کسب و کار ها</h2>
        <p class="feature-text">پلن سازمانی تپسی یک سامانه تحت وب است که به سادگی امکان درخواست نامحدودی خودرو و یک پیک را برای کسب و کارها و سازمان ها فراهم می کند و با استفاده از ان ماوریت های درون شهری و ارسال کالا های خود را به سادگی مدیریت کنید.</p>
        <button class="btn btn--primary">ورود و ثبت نام پلن سازمانی</button>
    </div>
</section>