<section class="main-footer">
    <div class="container c-footer">
        <div class="item-footer" >
            <h6>تپسی</h6>
            <a href="#">وبلاگ تبسی</a>
            <a href="#"> تماس باما</a>
            <a href="#">فرصت های شغلی</a>
            <a href="#">لوگو وهویت سازمانی</a>
        </div>
        <div class="item-footer" >
            <h6>تپسی</h6>
            <a href="#">وبلاگ تبسی</a>
            <a href="#"> تماس باما</a>
            <a href="#">فرصت های شغلی</a>
            <a href="#">لوگو وهویت سازمانی</a>
        </div>
        <div class="item-footer" >
            <h6>مسافران</h6>
            <a href="#">دانلود اپ تپسی</a>
            <a href="#">نسخه وب تپسی</a>
            <a href="#">پرسش های متدوال</a>
            <a href="#">باشگاه مشتریان</a>
        </div>
        <div class="item-footer" >
            <h6>رانندگان</h6>
            <a href="#">ثبت نام رانندگان</a>
            <a href="#"> دانلود اپ سفیران</a>
            <a href="#">پرسش های متدوال سفیران</a>
            <a href="#">باشگاه سفیران</a>
        </div>
        <div class="item-footer" >
            <h6>کسب و کار ها</h6>
            <a href="#">پنل سازمانی تپسی</a>
            <a href="#"> خرید کد تخفیف و اعتبار</a>
            <a href="#">APIدریافت </a>
            <a href="#">شرایط و قوانین</a>
        </div>
        <div class="item-footer " >
            <div class="enamd">
                <img src="/assets/image/namad12.png" alt="">
            </div>
        </div>
    </div>
</section>