<section class="hero-section">
    <picture>
      <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)">
      <source srcset="https://tapsi.ir/images/home/banner.jpg" type="image/jpg" media="(min-width: 768px)">
      <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
      <source srcset="https://tapsi.ir/images/home/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
      <img alt="banner" src="https://tapsi.ir/images/home/banner.jpg" class="banner-img">
   </picture>
 <div class="intro-wapper container">
  <div class="intro-btn">
    <h1>تپسی</h1>
    <h2>اپلیکشن دمو تپسی</h2>
    <div class="intro-collection">
      <div class="intro-btn-passenger"> 
        <i class="fa-solid fa-car"></i>
        <p>دانلود اپلیکشن مسافران</p>
      </div>
    <div class="intro-btn-passenger">
      <i class="fa-solid fa-laptop-code"></i>
      <p>کدنویس -جعفر رمضانی</p>
    </div>
    <div class="intro-btn-passenger">
      <i class="fa-solid fa-download"></i>
      <p>دانلود اپلیکشن رانندگان</p>
    </div>
    <div class="intro-btn-passenger">
      <i class="fa-solid fa-download"></i>
    <p> دانلود اپلیکشن مسافران</p>
    </div>
    </div>
  </div>
  </section>
 </div>