<header class="main-header">
    <nav class="nav container">
      <a href="#">
        <img src="/assets/image/تپسی اصلی (1).png" alt="" class="nav-c" />
      </a>
      <div class="toggle-menu">
        <div class="bar bar-one"></div>
        <div class="bar bar-two"></div>
        <div class="bar bar-three"></div>
      </div>
      <ul class="list nav--list">
        <li class="item-list"><a href="#">پشتیبانی </a></li>
        <li class="item-list"><a href="#">معرفی راننده</a></li>
        <li class="item-list"><a href="#">خدمات و کسب و کارها</a></li>
        <li class="item-list"><a href="#">باشگاه مشتریان</a></li>
        <li class="item-list"><a href="#">وبلاگ </a></li>
        <li class="item-list">
          <button class="btn btn--primary btn-block cta">دانلود تپسی</button>
        </li>
      </ul>
    </nav>
  </header>