<div class="bolck-plan  container">
    <div class="plan">
        <div class="card">
            <div class="card--header">
                <div class="hero">
                    <span class="header-hero">عادی</span>
                 <span class="badge badge-secondary">OFF 10%</span>
                </div>
                <span class="price">290,000ماهانه/تومان</span>
                <span class="text">سرویس ماشین های معمولی</span>
            </div>
            <div class="card--body">
                <ul class=" list list--tick">
                    <li class="list__item">کیفیت ضیعف</li>
                    <li class="list__item">گیفیت معمولی</li>
                    <li class="list__item">کیفیت متوسط</li>
                    <li class="list__item">کیفیت عالی</li>
                    <button class="btn btn-block btn--secondary btn-fix">ثبت نام</button>
                </ul>
               

            </div>
        </div>
    </div>
    <div class="plan">
        <div class=" card card-secondary">
            <div class="card--header">
                <div class="hero">
                    <span class="header-hero">ویژه</span>
                 <span class="badge badge-primary">OFF 30%</span>
                </div>
                <span class="price">490,000ماهانه/تومان</span>
                <span class="text">سرویس ماشین های معمولی</span>
            </div>
            <div class="card--body">
                <ul class=" list list--tick">
                    <li class="list__item">کیفیت عالی</li>
                    <li class="list__item">بدون سر و صدا</li>
                    <li class="list__item">زمان رسیدن مناسب</li>
                    <li class="list__item">سرویس منتخب هفته</li>
                    <button class="btn btn-block btn--primary btn-fix">ثبت نام</button>
                </ul>
            </div>
        </div>
    </div>
    <div class="plan plan">
        <div class="card">
            <div class="card--header">
                <div class="hero">
                    <span class="header-hero">اقتصادی</span>
                 <span class="badge badge-secondary">OFF 10%</span>
                </div>
                <span class="price">190,000ماهانه/تومان</span>
                <span class="text">سرویس ماشین های معمولی</span>
            </div>
            <div class="card--body">
                <ul class=" list list--tick">
                    <li class="list__item">کیفیت ضیعف</li>
                    <li class="list__item">گیفیت معمولی</li>
                    <li class="list__item">کیفیت متوسط</li>
                    <li class="list__item">کیفیت عالی</li>
                    <button class="btn btn-block btn--secondary btn-fix">ثبت نام</button>
                </ul>
                
            </div>
        </div>
    </div>